<main>
  <section id="section-login">
    <form>
      <div>
        <div class="mb-3">
          <label for="usuario" class="form-label">Email</label>
          <input
            name="usuario"
            required
            type="text"
            class="form-control"
            [(ngModel)]="usuario"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            [(ngModel)]="senha"
          />
        </div>
      </div>
      <button (click)="fazerLogin()" class="btn btn-primary">Login</button>
    </form>
  </section>
</main>
